{% extends 'KsAdminLteThemeBundle::index.html.twig' %}

{% block pageheader %}{{ theme.page_header(hdr|default(false)) }}{% endblock %}
{% block breadcrumb %}{{ theme.breadcrumb(bc|default(false)) }}{% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">
	  <div class="row">
		<div class="col-md-8">
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			<div class="form-group">
				<label class="control-label">Rol</label>
				<p class="form-control-static">{{ acl.getRole().getDescription() }}</p>
			</div>
			<div class="form-group">
				<label class="control-label">Función</label>
				<p class="form-control-static">{{ acl.getAc().getDescription() }}</p>
			</div>
			{{ form_row(form.mask_view) }}
			{{ form_row(form.mask_create) }}
			{{ form_row(form.mask_edit) }}
			{{ form_row(form.mask_delete) }}
			{{ form_row(form.save) }}
			{{ form_end(form) }}
		</div>
	  </div> 
	</div>
</div>
{% endblock %}