{% extends 'KsAdminLteThemeBundle::index.html.twig' %}

{% block pageheader %}{{ theme.page_header(hdr|default(false)) }}{% endblock %}
{% block breadcrumb %}{{ theme.breadcrumb(bc|default(false)) }}{% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">
	  <div class="row">
		<div class="col-md-8">
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			{{ form_row(form.role_id) }}
			{{ form_row(form.ac_id) }}
			{{ form_row(form.mask_view) }}
			{{ form_row(form.mask_create) }}
			{{ form_row(form.mask_edit) }}
			{{ form_row(form.mask_delete) }}
			{{ form_row(form.save) }}
			{{ form_end(form) }}
		</div>
	  </div> 
	</div>
</div>
{% endblock %}