{% extends 'KsAdminLteThemeBundle::index.html.twig' %}
	
{% block inlinecss %}
	{{ include('KsAdminLteThemeBundle:fragments:crud1_css.html.twig') }}
{% endblock %}

{% block pageheader %}{{ theme.page_header(hdr|default(false)) }}{% endblock %}
{% block breadcrumb %}{{ theme.breadcrumb(bc|default(false)) }}{% endblock %}

{% block content %}	
	<div class="box">
		<div class="box-body">
			{{ include('KsAdminLteThemeBundle:fragments:crud1.html.twig', { 'crud': crud }) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ include('KsAdminLteThemeBundle::user_list_dt.html.twig', { 'crud': crud }) }}
	{{ include('KsAdminLteThemeBundle:fragments:crud1_js.html.twig', { 'crud': crud }) }}
<script>
crud_{{ crud['name'] }}.editRoles = function(id)
{
	$(location).attr('href', "{{ path(crud['urls']['roles'])  }}/" + id);
};

{% if ac.localPasswordEnabled() and crud['grants']['MASK_EDIT']|default(false) %}
	crud_{{ crud['name'] }}.resetPassword = function(id)
	{
		$(location).attr('href', "{{ path(crud['urls']['pwdreset'])  }}/" + id);
	};
{% endif %}
</script>
{% endblock %}