{% extends 'KsAdminLteThemeBundle::index.html.twig' %}

{% block pageheader %}{{ theme.page_header(hdr|default(false)) }}{% endblock %}
{% block breadcrumb %}{{ theme.breadcrumb(bc|default(false)) }}{% endblock %}

{% block content %}	
<div class="box">
	<div class="box-body">
	  <div class="row">
		<div class="col-md-8">
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			{{ form_row(form.old_password, {'label': 'Contraseña actual'}) }}
			{{ form_row(form.new_password) }}
			{{ form_row(form.save, {'label': 'Guardar'}) }}
			{{ form_end(form) }}
		</div>
	  </div> 
	</div>
</div>
{% endblock content %}